{% extends 'index.html' %}
{% block body %}
    <div class="container">
        <div><h3><u>{{ title }}</u></h3></div>
        <form method="post" id="edit_debt_form">{% csrf_token %}
            <div class="m-2 me-2">
                <label>Фамилия
                    <input class="form-control" name="last_name" type="text" value="{{ technic.title }}" required/>
                </label>

                <label class="">Имя
                    <input class="form-control" name="first_name" type="text" value="{{ technic.type }}" required/>
                </label>
            </div>
        
            <div class="m-2">
                <label class="">Название
                    <input class="form-control" name="title" type="text" value="{{ title }}"/>
                </label>
                <label class="w-100">Описание
                    <textarea class="form-control" name="description">{{ technic.description }}</textarea>
                </label>
                
            </div>
        
            <div class="m-2">
                <label class="">Сумма
                    <input class="form-control" name="amount" type="number" value="{{ amount }}"/>
                </label>

                <label class="ms-2">Валюта
                    <select name="currency" class="form-control">
                    
                        {% for currency in currency_list.items %}
                            
                                <option value="{{ currency.0 }}">{{ currency.1 }}</option>
                            
                        {% endfor %}
                    
                    </select>
                </label>
            </div>
        
            <div class="m-2">
                <label>Дата создания
                    <input class="form-control" name="date_start" type="datetime-local" value="{{ technic.id_information }}"/>
                </label>
                <label>Конечная дата
                    <input class="form-control" name="date_end" type="date" value="{{ technic.id_information }}"/>
                </label>
            </div>
            
        
            <div class="m-2 navbar">
                {% if technic.id %}
                    <span><a href="#" class="btn btn-sm btn-outline-danger" style="float: left">Удалить</a></span>
                {% endif %}
            <span><a href="#" style="float: left">Отмена</a></span>
            <span><button class="btn btn-sm btn-success" style="" type="submit" form="edit_debt_form">Сохранить
                </button>
            </span>
                
                
            </div>


        </form>
    </div>
{% endblock %}