{% extends 'index.html' %}
{% block body %}
    <div class="container">
        <div>
            <p class="m-0 fs-5" style="text-align: center; text-decoration-line: underline;">
                <span>{{ debtor.last_name }}</span>
                <span>{{ debtor.first_name }}</span>
            </p>
        </div>
        <form id="personal_debt_form" method="post">{% csrf_token %}
            <table class="table translate-middle-x position-relative start-50"
{#                   style="border: black"#}
            >
                <thead>
                <tr>
                    <th hidden="hidden">id</th>
                    <th>Сумма</th>
                    <th>Дата создание</th>
                    <th>Дата окончания</th>
                </tr>
                </thead>
                <tbody>
                {% for debt in debt_list %}
                    {% if debt.title or debt.description %}
                    <tr>
                        <td>{{ debt.title }}</td>
                        <td colspan="4">
                            <span style="font-size: 10pt;">{{ debt.description }}</span>
                        </td>
                    </tr>
                    {% endif %}
                    
                    
                    <tr class="debt_row">
                        <td hidden="hidden"><input type="hidden" name="id" value="{{ debt.id }}"/></td>

                        <td>
                            <p class="m-0 fw-bolder" style="font-size: 12pt;">
                                <span>{{ debt.amount }}</span>
                                <span>{{ debt.currency }}</span>
                            </p>
                        </td>
                    
                        <td style="width: min-content">
                            <span>{{ debt.date_start_time}}</span>
                            <hr class="m-0">
                            <span>{{ debt.date_start_date }}</span>                            
                        </td>
                    
                        <td>
                            <span>{{ debt.date_end}}</span>
                        </td>
                    
                    
                    
                        <td class="m-0 p-0 pt-2">
                            <button onclick="closeDebt(this, {{ debt.id }})"
                                    type="button"
                                    class="btn btn-sm {% if debt.is_closed %}btn-outline-success{% else %}btn-outline-primary{% endif %}">
                                {% if debt.is_closed %}
                                    <span>Открыть</span>
                                {% else %}
                                    <span>Закрыть</span>
                                {% endif %}
                                </button>
                        </td>

                        

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="navbar">
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Назад</a>
{#            <button class="btn btn-success" type="submit" form="personal_debt_form">Сохранить</button>#}
        </div>
        </form>

    </div>
{% endblock %}